* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board{
    width: 100%;
    height: 600px;
    border-bottom: 15px solid rgb(35, 163, 35);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB,#E6F6ff);
}

.enemy{
    position: absolute;
    bottom: 0;
    width: 20%;
    animation: enemy-animation 1.5s infinite linear; 
}

.enemy0{
    position: absolute;
    bottom: 0;
    width: 20%;
   right: 100%
}

.mario{
    position: absolute;
    bottom: 0;
    width: 24%;
}

.nuvem{
    position: absolute;
    bottom: 60%;
    width: 35%;
    animation: nuvem-animation 3s infinite linear;
}

.nuvem2{
    position: absolute;
    bottom: 80%;
    width: 24%;
    animation: nuvem-animation 5s infinite linear;
}

.jump{
    animation: jump 600ms ease-out;
}

@keyframes enemy-animation {
    0%  {
        right: 0%;
    }

    100% {
        right: 100%;
    }
}

@keyframes nuvem-animation {
    0% {
        left:100%
    }

    100% {
        left:0%
    }
}

@keyframes jump {
    0% {
        bottom: 0px;
    }

    40% {
        bottom: 60%;
    }

    50% {
        bottom: 60%;
    }

    100% {
        bottom: 0px;
    }
}