<!DOCTYPE html>
<html lang = 'en'>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="midth=device-midth, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/style.css">
        <script src="../static/js/script.js" defer></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
        <title>Mario Jump</title> 
    </head>
    <body>
        <div class="game-board">
            <img src="../static/css/images/clouds.png" alt="nuvens" class="nuvem">
            <img src="../static/css/images/clouds.png" alt="nuvens" class="nuvem2">
            <img src="../static/css/images/enemy.gif" alt="Cano-Mario" class="enemy">
            <img src="../static/css/images/mario.gif" alt="Mario" class="mario">
        </div>
    </body>
</html>